@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "@fancyapps/fancybox";

@import "swiper/swiper-bundle";

@media screen and (min-width: 640px) {
  .video-swiper {
    width: 380px;
  }
  .video-swiper-container {
    height: 570px;
  }
}

@media screen and (min-width: 1024px) {
  .video-swiper {
    width: 600px;
  }
}